.list-item {
  list-style: none;
  padding: 5px 0px;
  display: flex;
  align-items: center;
}

.list-item label {
  font-size: 1.1rem !important;
}

.list-item input:checked ~ label {
  text-decoration: line-through;
  color: gray;
}

.list-item > .icon.buttons {
  margin-left: auto;
}